.backgroundImage {
    width: 995px;
    height: auto;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.userAvatar {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
}

.button {
    padding-bottom: 20px;  
}